
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.Inline
_Inline
*.bak
*.old
*.swp
*.tmp
*.exe
*.ptx

# Demos - using CLANG, GCC, or NVIDIA NVC
primes1
primes1.clang
primes1.gcc
primes1.nvc
primes2
primes2.clang
primes2.gcc
primes2.nvc
primes3
primes3.clang
primes3.gcc
primes3.nvc
primes4
primes4.clang
primes4.gcc
primes4.nvc

# Examples
practicalsieve
segmentsieve
rangesieve
prangesieve
cpusieve
gpusieve
pgpusieve
cudasieve

